@font-face {
  font-family: 'Simpler';
  font-weight: 200;
  font-display: fallback;
  src: local('Simpler Light'), url('/fonts/Simpler-Light.woff') format('woff');
}

@font-face {
  font-family: 'Simpler';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Simpler Regular'), url('/fonts/Simpler-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Simpler';
  font-weight: 600;
  font-display: fallback;
  src: local('Simpler Bold'), url('/fonts/Simpler-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Simpler';
  font-weight: 800;
  src: local('Simpler Black'), url('/fonts/Simpler-Black.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Simpler, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6fa;
}

a {
  color: #2980b9;
  text-decoration: none;
  transition: color 0.15s;
}

input {
  font-family: inherit;
}

.leaflet-marker-icon {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

li {
  margin-bottom: 5px;
}

.ReactModal__Overlay {
  z-index: 20;
}

/**======ANIMATION=====**/
/* ----------------------------------------------
 * Generated by Animista on 2020-10-17 10:23:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-left-blue {
  -webkit-animation: slide-left-blue 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left-blue 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-back {
  -webkit-animation: slide-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left-blue {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    background-color: blue;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-left-blue {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    background-color: blue;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fade-in-blue {
  -webkit-animation: fade-in-blue 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-blue 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-blue {
  0% {
    background-color: blue;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-blue {
  0% {
    background-color: blue;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.display-none {
  display: none !important;
}
